*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 header {
  /*background-color: #1f2937;*/
  padding: 10px 115px 115px 115px;
} 

.header-links-logo{
    display: flex;

}
.links{
    display: flex;
    /* justify-content: flex-end; */
    margin-left: auto;
    list-style: none;
}
a:link{
    text-decoration: none;
}
