
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:-Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,Arial, Helvetica, sans-serif;
}

 header {
  /*background-color: #1f2937;*/
  padding: 10px 115px 115px 115px;
  margin-bottom: 20px;
  background-color: #1f2937;
} 
main{
    margin-top: 30px;
}

.header-links-logo{
    display: flex;
    margin-bottom: 50px;

}
.header-links-logo:nth-child(1){
    font-size: 24px;
    color:#f9faf8 ;
}
.header-title-image{
    display: flex;
    justify-content: space-between;
    
}
#image-holder{
    color:white ;
    width: 1000px;
    background-color: gray;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.links{
    display: flex;
    /* justify-content: flex-end; */
    margin-left: auto;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}
a:link{
    text-decoration: none;
    color: #e5e7eb;
    margin-left: 20px;
}
.header-image {
    width: 800px;
    
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}
.main-title{
    text-align: center;
    margin-bottom: 10px;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
}

.secondary-text{
    font-size: 24px;
    color: #e5e7eb;
}
button{
    font-size: 20px;
    color: white;
    background-color:#3882f6 ;
    padding: 3px 10px;
    border-radius: 10px;
}
.top-container{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.list-date{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    
}
.empty{
    border: 2px solid blue;
    padding: 50px;
    height: 40px;
    width: 50px;
}
.bottom-container{
    display: flex;
    background-color: #3882f6;
    margin: 15px 115px 15px 115px;
    padding: 50px;
}
.blue-section strong{
    font-size: 24px;
    color: #e5e7eb;
}
.blue-section p{
    font-size: 18px;
    color: #e5e7eb;
}

.bottom-container button{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin:auto;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #1f2937;
    color: #e5e7eb;
    padding-top: 25px;
    padding-bottom: 25px;
}
